@import "bourbon/bourbon";
@import "colors";

#mc_embed_signup {
	form {
		@media (min-width: 800px) {
			max-width: 500px;
		}
	}
	input[type="checkbox"],
	input[type="radio"] { display: none !important; }
	input[type="checkbox"] + label:before,
	input[type="radio"] + label:before {
	  content: "";
	  display: inline-block;
	  color: transparent;
	  cursor: pointer;
	  height: 14px;
	  width: 14px;
	  background: transparent;
	  vertical-align: middle;
	  position: relative;
	  top: -1px;
	  cursor: pointer;
	  margin-right: 5px;
	  border: 2px solid $cmLightGrey;
	  @include transition(background .5s);
	}
	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before { 
	  text-align: center;
	  background: $cmPurple;
	}
	.mc-field-group label {
		text-transform: capitalize;
	}
}